{% extends 'base.html.twig' %}

{% block title %}{{ game.name }} map{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('map') }}
{% endblock %}

{% block javascripts ~%}
    <script src="/static/GameConfig-{{ game.shortName }}.js?{{ game.gameConfig.currentAssetDateTimeString }}"></script>
    <script src="/static/BaseLayers-{{ game.shortName }}.js?{{ game.gameConfig.currentAssetDateTimeString }}"></script>
    <script src="/static/Categories-{{ game.shortName }}.js?{{ game.gameConfig.currentAssetDateTimeString }}"></script>
    <script src="/static/CategoryTree-{{ game.shortName }}.js?{{ game.gameConfig.currentAssetDateTimeString }}"></script>
    <script src="/static/Features-{{ game.shortName }}.js?{{ game.gameConfig.currentAssetDateTimeString }}"></script>

    {{ encore_entry_script_tags('map') }}
{% endblock %}

{% block body %}
    <div id="map"></div>
{% endblock %}